* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #262626;
    position: sticky;
    top: 0;
}

li {
    list-style: none;
}

li a{
    color: white;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding{
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

.navlink{
    transition: 0.7s ease;
}

.navlink:hover{
    color: dodgerblue;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.st {
    min-height: 550px;
    background: linear-gradient(90deg, blue, red);
    text-align: center;
    padding: 150px;
}

.st p{
    font-size: 50px;
    color: green;
    max-width: 800px;
}

.nd{
    min-height: 550px;
    display: flex;
    background: linear-gradient(45deg, green, gold);
    padding: 25px;
}

.nd p{
    font-size: 30px;
    margin-right: 175px;
}

.ph ul{
    list-style: none;
    
}

@media(max-width: 768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }

    .nd {
        width: 100%;
            padding-top: 200px
    }

    .nd p{
        font-size: 15px;
        margin: 10% auto;
        
    }

    .ph img{
        max-width: 160px;
    }
}

@media (max-width: 500px){
    .nav-branding{
            font-size: 20px;
    }
    .st{
        padding: 150px 15px;
    }
   .st p{
       font-size: 30px;
   }
}